<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools" package="com.simonvanendern.tracking">

    <uses-permission android:name="com.google.android.gms.permission.ACTIVITY_RECOGNITION"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
            android:name=".MyApplication"
            android:allowBackup="true"
            android:icon="@drawable/map_icon_padlock"
            android:label="@string/app_name"
            android:roundIcon="@drawable/map_icon_padlock"
            android:supportsRtl="true"
            android:theme="@style/AppTheme" tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".activity.NewWordActivity">
        </activity>
        <activity
                android:name=".activity.MainActivity"
                android:label="@string/app_name"
                android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <service android:name=".backgroundService.BackgroundLoggingService" android:stopWithTask="false"
                 android:exported="true"
                 android:enabled="true">
            <intent-filter>
                <action android:name=".LOGGING_SERVICE"/>
            </intent-filter>
        </service>
        <receiver android:name=".data_collection.LocationReceiver"/>

        <receiver android:name="com.simonvanendern.tracking.backgroundService.RestarterReceiver"
                  android:enabled="true"
                  android:exported="true"
                  android:permission="android.permission.RECEIVE_BOOT_COMPLETED">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <!--android:enabled="true"/>-->
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <!--<intent-filter>-->
            <!--<action android:name="android.intent.action.ACTION_BOOT_COMPLETED"/>-->
            <!--<action android:name="android.intent.action.QUICKBOOT_POWERON" />-->
            <!--<category android:name="android.intent.category.DEFAULT" />-->
            <!--</intent-filter>-->
        </receiver>
        <receiver android:name=".data_collection.ActivityTransitionReceiver">

        </receiver>
    </application>

</manifest>