<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="tracking">

    <uses-permission android:name="com.google.android.gms.permission.ACTIVITY_RECOGNITION"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <application
            android:allowBackup="true"
            android:icon="@drawable/map_icon_padlock"
            android:label="@string/app_name"
            android:roundIcon="@drawable/map_icon_padlock"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name="tracking.NewWordActivity">
        </activity>
        <activity
                android:name="tracking.MainActivity"
                android:label="@string/app_name"
                android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <service android:name="tracking.logging.LoggingService" android:stopWithTask="false"/>
        <receiver android:name="tracking.logging.LocationReceiver"/>
        <receiver android:name="tracking.logging.RestarterReceiver"/>
        <receiver android:name="tracking.logging.ActivityRecognitionReceiver">
            <intent-filter>
                <action android:name="roomwordsample.logging.TRANSITION_RECOGNITION" />
            </intent-filter>
        </receiver>
    </application>

</manifest>